@use "../../scss/variabels.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgb(224, 224, 224);
  background-color: $background-color-base;
  padding-left: 22px;
  padding-right: 22px;
  font-size: $H6;
  color: $heading-color;
}

.buttuns_container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 10px;
}

.button {
  border: 0;
  background-color: transparent;
  font-size: $H6;
  margin-left: 22px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
}

.SignUp {
  border: 1px #52c41a solid;
  border-radius: 3px;
  color: #52c41a;
  height: 51px;
  width: 109px;
}

.createArticle {
  word-wrap: normal;
  font-size: $font-size-lg;
  border: 1px #52c41a solid;
  border-radius: 3px;
  color: #52c41a;
  padding: 5px;
}

.logout {
  border: 1px $heading-color solid;
  border-radius: 3px;
  color: $heading-color;
  height: 51px;
  width: 109px;
}

a {
  font-size: $H6;
  color: $heading-color;
  text-decoration: none;
}

.active {
  font-size: $H6;
  color: $heading-color;
  text-decoration: none;
  cursor: pointer;
}
