.ant-pagination-item-active {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}
.ant-pagination-item-active a {
  color: white !important;
}

.article-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
